<!DOCTYPE html>
<html lang="en" ng-app="codecc">

<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta http-equiv+ "X-UA-Compatible" content="IE=EDGE">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  	<!-- SEO meta -->
	<meta property="og:title" content="{{ seo.title }}">
	<meta property="twitter:title" content="{{seo.title}}">
	<meta property="og:image" content="{{ seo.image }}">
	<meta property="twitter:image" content="{{seo.image}}">
	<meta property="og:url" content="{{ seo.url }}">
	<meta property="twitter:url" content="{{ seo.url }}">
	<meta property="description" content="{{ seo.description }}">
	<meta property="og:description" content="{{ seo.description }}">
  <meta property="twitter:description" content="{{ seo.description }}">
  
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" ng-href="style.css">
  <link rel="stylesheet" type="text/css" ng-href="codeplay/color-game.css">
  <link rel="stylesheet" type="text/css" ng-href="/codeplay/multichoice.css">

  <title>CC Social</title>
</head>








<body>


  <!-- HEADER & NAV BEGINS-->
  <div class="jumbotron" style="padding-top: 3%; margin: 0%">
    <div class="row" style="margin-right: 3%">
      <p class="right" ng-submit="login()">
        <input type="text" ng-model="login.email" placeholder="email" class="form-control">
        <input type="text" ng-model="login.password" placeholder="password" class="form-control">
        <a class="btn btn-warning btn-sm" ng-href="/" ng-click="login()" value="Log In" role="button">LOGIN</a>
      </p>
      <h1>
        <a ng-href="/home" id="logo"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Definition_of_Free_Cultural_Works_logo_notext.svg/1029px-Definition_of_Free_Cultural_Works_logo_notext.svg.png" width="100" alt="" /></a>
      </h1>

    </div>
  </div>

  <!-- nav bar -->
  <nav class="navbar navbar-default" style="padding: 0%">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">CC SOCIAL</a>
        <a class="btn btn-warning btn-sm" ng-href="/signup" style="margin-top: 5%" role="button">SIGN UP</a>
        </p>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li class="hover">
              <a href="/home">HOME
                <span class="sr-only"></span>
              </a>
            </li>
            <li class="hover">
              <a ng-href="/codeplay">CODE-PLAY</a>
            </li>
            <li class="hover">
              <a ng-href="/careers">CAREERS</a>
            </li>
            <li class="hover">
              <a ng-href="/bootcamps">BOOTCAMPS</a>
            </li>
            <li class="hover">
              <a ng-href="/resources">RESOURCES</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
  <!-- HEADER & NAV ENDS -->






  <!-- ANGULAR VIEW BEGINS-->
  <div ng-view></div>
  <!-- ANGULAR VIEW ENDS -->







  <!-- FOOTER BEGINS -->
  <div></div>
  <!-- FOOTER ENDS -->

</body>







<!-- EMBEDS -->

<!-- angular -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.js"></script>

<!-- javascript -->
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="controllers.js"></script>
<script type="text/javascript" src="factories.js"></script>
<script type="text/javascript" src="services.js"></script>
<script type="text/javascript" src="codeplay/color-game.js"></script>
<script type="text/javascript" src="/codeplay/multchoice.js"></script>

<!-- jquery -->
<script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<!-- bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
  crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
  crossorigin="anonymous"></script>

</html>