#refh1 {
    font-size: 28px;
    line-height: 20px;
    text-align: center;
    color: green;
}

#ptext {
    font-size: 20px;
    text-align: center;
}

#explanationdiv {
    background-color: grey;
}


