body {
	background: url();

h1 {
	font-size: 180px;
	
}

#welcome-page:link {
	color: red;
}




#welcome-page {
	margin: 10%;
	margin-top: 1%;
	color: red;
	font-family: serif;
	font-weight: bold;
	background: RGBA(255, 255, 255, .9);
	border-radius: 10px;
	border: 5px solid black;
    width: 80%;
    height: 70%;
    text-align: center;
}

a:link {
	color: red;
	text-decoration: none;
}

a:visited {
	color: red;
}

a:hover {}

a:active{}

