<div class="container">
 <div >
        <a href="#openModal">Instructions</a> 
         
        <div id="openModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <h2>The Color Game</h2>
                <p>This is a sample game of knowledge and skill.</p>
                <p>Colors are a representation of additive color mixing.</p>
                <p>There are 2 levels to choose from which are Easy and Hard. </p>
                <p>Choose the correct mixture of Red, Green and Blue that will represent the numbers between 0-255.</p>
            </div>
        </div>
    </div>
        
<h1 id="h1">
	The Great 
	<br>
	<span id="colorDisplay">RGB</span> 
	<br>
	Color Game
</h1>
  <div id ="container">
        
      
  </div>
<div id="stripe">
	<button id="reset">New Colors</button> 
	<span id="message"></span>
	<button class="mode">Easy</button>
    <button class="mode selected">Hard</button>
    <!-- <a href="file:///C:/Users/Connor/Color-Game/Client/multchoice.html">Continue to Multiple Choice Game</a>
    <h1 id="h1">  -->
    
</div>

	<div id="bigdiv">
		<div class="square"></div> 
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
    </div>
</div>
    



