<div>
    <div ng-controller="HomeController">
        <div class="container" ng-repeat="p in posts">
            <div class="row">
                <div class="col-xs-6 col-sm-8 col-lg-10">
                    <div class="left">
                        <img ng-src="{{ p.profilepic }}" height="75" width="75" alt="" style="border-radius: 50%">
                        <h4>{{ p.username }}</h4>
                        <br>
                    </div>
                    <div class="right">
                        <a ng-href="/posts/{{ p.id }}" ng-click="post()">
                            <h4>{{ p.post }}</h4>
                            <h5>{{ p.timestamp | date: 'short' }}</h5>
                        </a>
                        <!-- {{ p.replies | number}} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>