<!DOCTYPE html>

    <div id="h1div">
        <h1 id="refh1">RESOURCES</h1>
    </div>
    <script type="text/javascript" src="reference.js"></script>
    <div id="explanationdiv">
        <p id="ptext">The following resources will assist you in understanding and implementing various languages and technologies.</p>
    </div>
    <br>
    <div>
        <h4>
            <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics">HTML Basics</a>
        </h4>
        <p>HTML (Hypertext Markup Language) is the code that is used to structure a web page and its content.
        </p>
        <h4>
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">HTML Element Reference</a>
        </h4>
        <p>This page lists all the HTML elements. They are grouped by function to help you find what you have in mind easily.
        </p>
        <h4>
            <a href="http://www.htmldog.com/guides/css/beginner/">Intro to CSS</a>
        </h4>
        <p>CSS, or Cascading Style Sheets, is a way to style a present HTML. 
        </p>
        <h4>
            <a href="http://www.restapitutorial.com/httpstatuscodes.html">HTTP Status Codes</a>
        </h4>
        <p>HTTP response status codes indicate whether a specific HTTP request has been successfully completed. Responses are
            grouped in five classes: informational responses, successful responses, redirects, client errors, and servers
            errors.
        </p>
        </h4>
        <h4>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>
        </h4>
        <p>JavaScript is a programming language that allows you to implement complex things on web pages — every time a web
            page does more than just sit there and display static information for you to look at you can bet that JavaScript
            is probably involved.
        </p>
        <h4>
            <a href="http://www.mysqltutorial.org/basic-mysql-tutorial.aspx">MySQL</a>
        </h4>
        <p>If this is the first time you have used a relational database management system, this tutorial gives you everything
            you need to know to work with MySQL such as querying data, updating data, managing databases, and creating tables.
        </p>
        <h4>
            <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs">Express Web Framework (NodeJS)</a>
        </h4>
        <p>Express is a popular unopinionated web framework, written in JavaScript and hosted within the node.js runtime environment.
            
        </p>
        <h4>
            <a href="https://docs.angularjs.org/guide/introduction">Intro to AngularJS</a>
        </h4>
        <p>AngularJS is a structural framework for dynamic web apps.
        </p>
        <h4>
            <a href="http://overapi.com">Comprehensive "Cheat Sheet" for many languages</a>
        </h4>
        <p>Great resource for many aspects of programming.
        </p>
        <h4>
            <a href="https://www.codecademy.com/">Codeacademy</a>
        </h4>
        <p>Codeacademy is an online interactive platform that offers free coding classes in 12 different programming
            languages.
        </p>


    </div>
</body>

</html>