<div class="row" style="margin-left: 3%">
    <div class="col-sm-4">
        <div class="row">
            <strong>First Name:</strong>
            <input type="text" ng-model="newUser.firstname" placeholder="Required" class="form-control">
        </div>
        <div class="row">
            <strong>Last Name:</strong>
            <input type="text" ng-model="newUser.lastname" placeholder="Required" class="form-control">
        </div>
        <div class="row">
            <strong>Email Address:</strong>
            <input type="text" ng-model="newUser.email" placeholder="Required" class="form-control">
        </div>
        <div class="row">
            <strong>Username:</strong>
            <input type="text" ng-model="newUser.username" placeholder="Required" class="form-control">
        </div>
        <div class="row">
            <strong>Image URL:</strong>
            <input type="text" ng-model="newUser.profilepic" placeholder="Optional" class="form-control">
        </div>
        <div class="row">
            <strong>Bootcamp:</strong>
            <input type="text" ng-model="newUser.bootcamp" placeholder="Optional" class="form-control">
        </div>
        <div class="row">
            <strong>Password:</strong>
            <input type="text" ng-model="newUser.password" placeholder="Required" class="form-control">
        </div>

        <button type="button" class="btn btn-warning btn-lg" ng-click="createUser()"></button>

    </div>
</div>