

        <div class="page-header">.
        <div style="background:RGBA(255, 255, 255, .9) !important" class="jumbotron">
            <h1 id="header">SCANDAL PRESS</h1>

            </div>
            </div>


    <div class="container" id="post-list" ng-controller="PostController">
    <!-- <a ng-href="/posts/{{ p.id }}"> -->
        <div class="single-post">
            <h3 id="title">{{ post.title }}</h3>
            <h4 id="content">{{ post.content }}</h4>
            <p id="date">{{ post.createdAt | date: 'short' }}</p>
        </div>
    <!-- </a> -->
    </div>
    