

        <div class="page-header">.
        <div class="jumbotron">
            <h1 id="header">CC Social</h1>

            </div>
            </div>


    <div class="container" id="post-list" ng-controller="PostController">
    <!-- <a ng-href="/posts/{{ p.id }}"> -->
        <div class="single-post">
            <h3 id="title">{{ post.status }}</h3>
            <!-- <h4 id="content">{{ post.content }}</h4> -->
            <p id="date">{{ post.timestamp | date: 'short' }}</p>
        </div>
    <!-- </a> -->
    </div>

    <div>
<!-- SCOPE REPLIES -->

    </div>
    